.home {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
}
.home-container {
}
.home-hero {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #000;
  color: #f5f5f7;
  padding: 54px 0 52px;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  line-height: 1.19048;
  font-weight: 600;
  letter-spacing: 0.011em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

.quets {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  padding: 10px 10px 10px 10px;
  margin-bottom: 20px;
  line-height: 1cm;
  height: 400px;
}

.home-hero > h2 {
  font-size: 48px;
  line-height: 1.08349;
  font-weight: 600;
  letter-spacing: -0.003em;
  color: #f5f5f7;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

.home-image {
  background-image: url(../img/hero-mac.jpg);
  width: 738px;
  height: 282px;
  background-size: 738px 282px;
  background-repeat: no-repeat;
  /* mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); */
}
.home-row {
  display: flex;
  z-index: 1;
  padding: 10px 10px 10px 10px;
}
@media only screen and (max-width: 768px) {
  .home-hero {
    padding: 40px 0 32px;
  }

  .home-hero > h2 {
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .home-row {
    flex-direction: column;
    align-items: center;
  }

  .home-image {
    width: 100%;
    height: 282px;
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  
}
