.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
  border-radius: 8px;
}
.product__info {
  height: 100px;
  margin-bottom: 15px;
}

.product__price {
  margin-top: 5px;
}

.product__rating {
  display: flex;
}
.product__rating .star-color {
  color:red;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin: 20px 0 0 15px;
  transition: transform 0.3s ease-out;
}
.product > img:hover {
  transform: scale(1.1);
  /* transition: transform 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s; */
}

.product > button {
  margin-top: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  font-size: 17px;
  line-height: 1.1764805882;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  min-width: 28px;
  padding: 8px 16px;
  border-radius: 980px;
  color: #fff;
  --sk-button-margin-horizontal: 14px;
  --sk-button-margin-vertical: 14px;
  background: black;
}

.product > button:hover {
  background: rgb(40, 38, 38);
  text-decoration: none;
}
