.CheckoutProduct {
  display: flex;
  margin-top: 100px;
  margin-bottom: 20px;
}

.ckeckoutProduct__info {
  padding-left: 20px;
}

.checkoutproduct__image {
  max-height: 200px;
  /* width: 100%; */
  object-fit: contain;
  margin: 20px 0 0 15px;
  transition: transform 0.3s ease-out;
}
.checkoutproduct__image:hover {
  transform: scale(1.1);
  /* transition: transform 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s; */
}

.ckeckoutProduct__info > button {
  margin-top: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  font-size: 17px;
  line-height: 1.1764805882;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  min-width: 28px;
  padding: 8px 16px;
  border-radius: 980px;
  color: #fff;
  --sk-button-margin-horizontal: 14px;
  --sk-button-margin-vertical: 14px;
  background: black;
}

.ckeckoutProduct__info > button:hover {
  background: rgb(40, 38, 38);
  text-decoration: none;
}

.checkoutProduct__title {
  font-size: 17px;
  font-weight: 800;
}

.checkoutProduct__price {
}

.checkoutProduct__rating .star-color {
  color: red;
}
